

*,
::before,
::after {
  box-sizing: border-box;

}

:root {
  --sky: #9bdceb;
  --neutral: #EFEFEF;
  --carbon: #dae3e6de;
  --watermelon: #FF3B3F;
  --sunflower: #FFCE00;
  --grape: #6F2DA8;
}

.App {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background-color: var(--neutral);
}

h1 {
  font-weight:700;
  text-shadow: 0 3px 10px rgba(5, 2, 2, 0.5);
}
/* Navbar */
.nav {
  display:flex;
  justify-content: center;
 
  
}

.nav-itm{
  margin:2rem 1rem;
  font-size:22px;
  padding-bottom:.5rem;
}


#about {
  color:var(--sunflower);
  border-bottom: var(--sunflower) solid 4px;
  padding-bottom:.5rem;
}




#projects {
  color:var(--watermelon);
  border-bottom: var(--watermelon) solid 4px;
  padding-bottom:.5rem;
}

#contact {
  color:var(--sky);
  border-bottom: var(--sky) solid 4px;
  padding-bottom:.5rem;
}

#other {
  color:var(--grape);
  border-bottom: var(--grape) solid 4px;
  padding-bottom:.5rem;
}

/* Hero Section */

.section-a {background-color: var(--neutral);}
.section-b { background-color: var(--carbon);
}



.grid-2 > img {
  width:100%;
  height:100%;
  border-radius:20px;
  padding:5px;
}

/*  Hero Grid Desktop */
.grid-area {
display:grid;
margin:5rem auto;
width:80%;
grid-template-rows: repeat(5, 1fr);
grid-template-columns: repeat(5, 1fr)
}

.grid-1 {
  z-index: 2;
  grid-area:1/6/4/1;
  background-image: linear-gradient(120deg,var(--watermelon),var(--watermelon),var(--sunflower) );
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(5, 2, 2, 0.5);
}


.grid-2 {
  z-index: 3;
  border-radius: 20px;
  grid-area:2/1/5/3;
  box-shadow: 0 3px 10px rgba(5, 2, 2, 0.5);
  background-color: var(--neutral);
  margin:-3.4rem 1rem;
}
.grid-3 {
  z-index: 3;
  grid-area:4/6/6/3;
  font-size:20px;

  line-height:34px;
}

.grid-4{
  font-size:32px;
  padding:.4rem;
  z-index:4;
  grid-area:4/3/1/6;
  color:white;
  line-height: 60px;
}

/* Hero Grid responsive */

@media only screen and (max-width: 1500px) {   
img {height:auto;}

.grid-area{
width:98%;
grid-template-rows: repeat(1, 1fr);
}

.grid-1 {grid-area:1/6/1/1;}

.grid-2 {
  grid-area:1/1/1/3;
  margin:5px;
}

.grid-3 {
  margin-top:2rem;
  grid-area:2/6/3/1;
  font-size:24px;
}

.grid-4 {
  font-size:36px;
  
  grid-area: 1/6/1/3;
  padding:1px;
  line-height:80px;
}
}



@media only screen and (max-width: 950px) {   
  img {height:100%}

  .grid-1 {grid-area:1/6/1/1;}

  .grid-2 {
    grid-area:2/6/4/1;
    margin:5px;
   
  }
  
  .grid-3 {
    grid-area:4/6/4/1;
    margin:2rem 1rem auto;}
  .grid-4 {
    font-size:24px;
    grid-area: 1/6/1/1;
    line-height:80px;
    padding:0;
  }
}




@media only screen and (max-width: 500px) {   
.grid-4 {
  font-size:24px;
  line-height:60px;
}
}

/* Projects section*/

.project-intro {

  padding:3rem;
}


.project-grid {
  display:grid;
  padding:3rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,550px);
  grid-template-rows: repeat(3,400px);
  gap:40px;
}


.grid-item {
  position:relative;
  height:100%;
  margin:0;
  padding:0;
  background-color: var(--sky);
  border-radius: 10px;
  border:5px solid black;
  border-bottom:30px solid black;
}

.grid-title {
  position:absolute;
  bottom:-2.8rem;
  left:1rem;
  color: white;
}


.grd-time {
  background-image:  url("../src/images/time-tracker-hero.PNG");
  background-size: cover;
  width: 100%;
  height:100%;
  
}


.grd-time:hover {
background-image: none;
background-color: black;
}


.grd-ip {
  background-image:  url("../src/images/ip-address-hero.PNG");
  background-size: cover;
  width: 100%;
  height:100%;
}


.grd-ip:hover {

}

.grd-gall {
  background-image:  url("../src/images/galleria-hero.png");
  background-size: cover;
  width: 100%;
  height:100%;
}


.grd-calc {
  background-image:  url("../src/images/calculator.png");
  background-size: cover;
  width: 100%;
  height:100%;
}


.grd-ec {
  background-image:  url("../src/images/ecommerce.PNG");
  background-size: cover;
  width: 100%;
  height:100%;
}


.grd-book {
  background-image:  url("../src/images/bookmark-hero.PNG");
  background-size: cover;
  width: 100%;
  height:100%;
}






@media only screen and (max-width: 1850px) {   
  .project-grid {
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(3,300px);
  }
}




@media only screen and (max-width: 1300px) {   
  .project-grid {
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(6,300px);
}
}

@media only screen and (max-width: 900px) {   
  .project-grid {
  grid-template-columns: repeat(1, 430px);
  grid-template-rows: repeat(6,300px);

}
}


@media only screen and (max-width: 450px) {   
  .project-grid {
  grid-template-columns: repeat(1, 360px);
  grid-template-rows: repeat(6,260px);
}
}
