

*,
::before,
::after {
  box-sizing: border-box;

}

:root {
  --sky: #9bdceb;
  --neutral: #EFEFEF;
  --carbon: #a3a3a3c0;
  --watermelon: #FF3B3F;
  --sunflower: #FFCE00;
  --grape: #6F2DA8;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-family: 'Rubik', sans-serif;
  background-color: var(--neutral);
  font-style:"Rubik"
}

/* Navbar */
.nav {
  display:flex;
  justify-content: center;
 
  
}

.nav-itm{
  margin:1rem;
  font-size:22px;
  padding-bottom:.5rem;
}


#about {
  color:var(--sunflower);
  border-bottom: var(--sunflower) solid 4px;
  padding-bottom:.5rem;
}




#projects {
  color:var(--watermelon);
  border-bottom: var(--watermelon) solid 4px;
  padding-bottom:.5rem;
}

#contact {
  color:var(--sky);
  border-bottom: var(--sky) solid 4px;
  padding-bottom:.5rem;
}

#other {
  color:var(--grape);
  border-bottom: var(--grape) solid 4px;
  padding-bottom:.5rem;
}

/* Hero Section */

.section-a {background-color: var(--neutral);}
.section-b { background-color: var(--carbon);
}



img {
  width:100%;
  height:100%;
  border-radius:20px;
  padding:5px;
}

/*  Hero Grid Desktop */
.grid-area {
display:grid;
margin:5rem auto;
width:60%;
grid-template-rows: repeat(5, 1fr);
grid-template-columns: repeat(5, 1fr)
}

.grid-1 {
  z-index: 2;
  grid-area:1/6/4/1;
  background-color: var(--watermelon);
  border-radius: 20px;
}


.grid-2 {
  z-index: 3;
  margin:15px;
  border-radius: 20px;
  grid-area:2/1/6/3;
  background-color: var(--sunflower);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top:-3rem;
}
.grid-3 {
  z-index: 3;
  grid-area:4/6/6/3;
}

.grid-4{
  z-index:4;
  grid-area:4/3/1/6;
}

/* Hero Grid responsive */

@media only screen and (max-width: 1450px) {   
img {height:auto;}

.grid-area{
width:100%;

}

.grid-1 {grid-area:1/6/1/1;}

.grid-2 {
  grid-area:1/1/1/3;
  margin:5px;
}

.grid-3 {grid-area:2/6/3/1;}
.grid-4 {grid-area: 1/6/1/3;}

}

@media only screen and (max-width: 850px) {   
  img {height:100%}

  .grid-1 {grid-area:1/6/1/1;}

  .grid-2 {
    grid-area:2/6/4/1;
    margin:5px;
  }
  
  .grid-3 {grid-area:4/6/4/1;}
  .grid-4 {grid-area: 1/6/1/1;}
}



/* 
  .grid-area {
    height:50rem;
    grid-template-rows: repeat(5, 1fr);
grid-template-columns: repeat(5, 1fr)
  }

  .grid-1 {
    z-index:1;
    grid-area:2/5/4/1;
  }
  
  
  .grid-2 {
    z-index:2;
    grid-area:1/5/1/1;
  }
  .grid-3 {
    z-index:2;
    grid-area:3/3/3/3;
  }
  
  .grid-4{
    z-index:4;
    grid-area:4/4/4/4;
  }

} */

@media only screen and (max-width: 1000px) {   




}




.intro-text {
  color:var(--neutral);
  font-size:17px;
  font-weight: 800;

}





/* Grid */

.project-grid {
  display:grid;
  margin:5rem auto;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,200px);
  grid-template-rows: repeat(3,200px);
  gap:1px;
}

.grid-item {
  width:200px;
  height:200px;
  background-color: var(--sky);
  
}